@import '../../../styles/variables';
@import '../../../styles/mixin';

.banner {
  @include d-flex();
  align-items: center;
  width: 70%;
  height: 100px;
  background-color: $color-white;
  color: $color-dark;
  padding: 0 10%;
  h3 {
    font-size: 22px;
    font-family: $main-font-bold;
    padding-bottom: 5px;
  }
  p {
    font-size: 12px;
    font-family: $main-font-regular;
  }
  img {
    height: 80px;
  }
  .priceblock {
    @include d-flex();
    align-items: baseline;
    img {
      width: 22px;
      height: 21px;
      margin-right: 10px;
    }
    h2 {
      font-size: 32px;
      font-family: $main-font-bold;
      color: $color-main;
    }
  }
}

@media (min-width: 1200px) and (max-width: 780px) {
  .banner {
    padding: 0;
  }
}

@media (min-width: 475px) and (max-width: 779px) {
  .banner {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 474px) {
  .banner {
    width: 100%;
    padding: 0;
    text-align: center;
    h3 {
      width: 80%;
    }
    p {
      display: none;
    }
    .priceblock {
      img {
        display: none;
      }
    }
  }
}
